 <section class="content team-game-sched">
        <div class="container">
            <h3 class="ts-heading">Arkansas Attack</h3>
            <hr class="ts-line" />

            <div class="row">
                <div class="col-md-9 ts-main">
                    <div class="team-banner">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/assets/images/Arkansas_schedHome.png" class="img-responsive" alt="" />
                            </div>
                            <div class="col-md-7">
                                <h2>2016 SEASON SCHEDULE</h2>
                            </div>
                        </div>
                    </div>
                    <div class="ts-week">
                        <div class="ts-week-group">
                            <div class="ts-week-game">
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small class="ts-game-court">Away</small>|<small class="ts-game-loc">Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-include="'/client/partials/sidebar.html' "></div>
            </div>
        </div>
    </section>
    