<section class="content schedules" ng-init="getSchedules()">
        <div class="container">
            <h3 class="ts-heading">2016 MLFB SCHEDULE</h3>
            <hr class="ts-line" />

            <div class="row">
                <div class="col-md-9 ts-main">
                    <div class="ts-week" ng-repeat="(key, value) in schedule.list | groupBy:'week'">
                        <div class="ts-week-group">
                            <div class="ts-week-game">
                                <h3 class="ts-head-sched">Week {{key}}</h3>
                                <div class="row ts-week-game-list" ng-repeat="game in value | formatDateFromListSchedule | orderBy:'datetime'">
                                    <div class="col-md-3">
                                        <p>{{game.datetime | date: 'MMM' | uppercase}} {{game.datetime | date: 'dd'}}</p>
                                        <small>{{game.datetime | date: 'EEE'}} {{game.datetime | date: 'hh'}}:{{game.datetime | date: 'mm'}} {{game.datetime | date: 'a'}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{game.teams[0].name | uppercase}} {{game.teams[0].nickname | uppercase}} VS {{game.teams[1].name | uppercase}} {{game.teams[1].nickname | uppercase}}</p>
                                        <small>{{game.stadium.name | titlecase}}, {{game.stadium.location | titlecase}}</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-include="'/client/partials/sidebar.html'">
                </div>
            </div>
        </div>
    </section>
    
 