<section class="content schedules">
        <div class="container">
            <h3 class="ts-heading">2016 MLFB SCHEDULE</h3>
            <hr class="ts-line" />

            <div class="row">
                <div class="col-md-9 ts-main">
                    <div class="ts-week">
                        <div class="ts-week-group">
                            <div class="ts-week-game">
                                <h3 class="ts-head-sched">Week 1</h3>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ts-week">
                        <div class="ts-week-group">
                            <div class="ts-week-game">
                                <h3 class="ts-head-sched">Week 2</h3>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                                <div class="row ts-week-game-list">
                                    <div class="col-md-3">
                                        <p>APR 30</p>
                                        <small>Sat 04:00 PM</small>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OHIO UNION VS ALABAMA AIRBORNE</p>
                                        <small>Ladd Peebles Stadium, Alabama</small>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#" class="ts-btn">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-include="'/client/partials/sidebar.html'">
                </div>
            </div>
        </div>
    </section>