<div class="ts-sb">
    <div class="ts-sb-sched">
        <p>View all the schedules</p>
        <a href="/game-schedules" class="ts-btn">2016 Game Schedule</a>
    </div>
    <div class="ts-sb-newsletter">
        <p>Get updated, Subscribe here:</p>
        <form id="subscribe-form" action="http://jni-portfolio.us12.list-manage.com/subscribe/post-json?u=5b20077dda3922c22cfc18582&amp;id=dd56eaed0d" method="get">
            <div id="subscribe-result"></div>
            <input type="email" name="EMAIL" class="form-control ts-email" id="mce-EMAIL" placeholder="Type Your Email Here" required />
            <input type="submit" class="ts-btn ts-submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" >
        </form>
    </div>
    <div class="ts-sb-promo-banner">
        <img src="/assets/images/sibebar-promo.jpg" class="img-responsive" />
    </div>
    <div class="ts-sb-help">
        <p>Need Help? Got any questions?</p>
        <a href="#" class="ts-btn">Customer Support</a>
    </div>
</div>

<script src="/javascripts/modules/newsletter.js"></script>