<section class="content ts-stadium">
    <div class="container">
        <h3 class="ts-heading">War Memorial Stadium</h3>
        <hr class="ts-line" />

        <div class="row">
            <div class="col-md-9 ts-main">
                <div class="row ts-stadium-head">
                    <div class="col-md-3">
                        <p>May 09</p>
                        <small>Mon 08:00 PM</small>
                    </div>
                    <div class="col-md-6">
                        <p>Arkansas Attack Vs Texas Independence</p>
                        <small>War Memorial Stadium, Arkansas</small>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="ts-stadium-handler">

                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Section</td>
                            <td>Row</td>
                            <td>Price</td>
                            <td>Qty Available</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>$600</td>
                            <td>10</td>
                            <td><a href="#" class="ts-btn">BUY</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2</td>
                            <td>$800</td>
                            <td>-</td>
                            <td><a href="#" class="ts-btn">BUY</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>12</td>
                            <td>$600</td>
                            <td>5</td>
                            <td><a href="#" class="ts-btn">BUY</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3" ng-include="'/client/partials/sidebar.html'">
            </div>
        </div>

    </div>
</section>