// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@import "../utils/variables";


//Login Page


.holder-content {
    overflow:hidden;

    #form-wrapper{
 
    border:1px solid #dadada;
    margin-top:40px;
    margin-bottom:40px;
    padding:20px;
    background-color: #000;
        
        .form-title h3{
             text-align:center;
             text-transform:uppercase;
             color: #FFF;
             padding-bottom:20px;
        }

        .login-form .form-group input[type="text"] ,
        .login-form .form-group input[type="password"],
        .login-form .form-group input[type="submit"]{
            height:44px;
            font-size:16px;
            margin-bottom:25px;
        }

        .login-form .form-group input[type="submit"]{
            background-color:#272727;
            border-color:#272727;
            text-transform:uppercase;
            color: #FFF;

        }
    }
} 


//Administrator Sidebar


header , footer{
    position:relative;
    z-index:5;
}

header .ts-top-bar{
    background:#FFF;
}

.container .row .adminWrapper{
    height:auto;
    min-height:100%;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    .adminSidebar .adminmenuback{
        position: fixed;
        top: 0;
        bottom: -240px;
        z-index: 1;
        width: 292px;
        background-color: #111111;
    }
}

.container .row .adminWrapper .adminSidebar .sidebar nav .navigation{
    position:relative;
    z-index:15;
}



.container .row .sidebar{
    height:100vh;
    background:#111;
    position:relative;

    nav ul.navigation{
       

          li {
             padding-top:25px;
             padding-left:25px;
              a{
                color: #FFF;
                font-size:18px;
                font-weight:100;
              }

          } 
    }

  
}


//Create Team page


.row #create-team{
    margin-top:26px;

    .header-wrapper a.pull-right{
        margin-top:20px;
        color: #111;
        &:hover{
            color: #111;
            text-decoration:none;
        }
    }

    .container .row .label-type .form-group{
        width:100%;


        .form-label{
            text-transform:uppercase;
            margin-top:10px;
        }
    }



    .container .row .label-type .form-group .btn{
            background-color:#272727;
            border-color:#272727;
            text-transform:uppercase;
            color: #FFF;
    }

    .container .row .label-type .form-group #imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    border:1px solid #CCC;
    display: inline-block;
    text-align: center;
    line-height: 180px;
    margin-bottom:20px;

        .fa-plus{
            color: #dadada;
            font-size: 35px;
        }

    }

     .container .row .label-type .form-group #imageLogoPreview{
        width: 50%;
        height: 125px;
        background-position: center center;
        background-size: cover;
        border:1px solid #CCC;
        display: inline-block;
        text-align: center;
        line-height: 140px;
        margin-bottom:20px;

        .fa-plus{
            color: #dadada;
            font-size: 35px;
        }
     }

     .container .row .label-type .form-group #logoUpload{
         display: block;
         width: 50%;
     }

     .container .row .label-type .form-group .fileUpload{
            position: relative;
            overflow: hidden;
            

            input.upload{
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
     }


}


// View All Team Page

.btn , input, input[type="button"], input[type="email"], input[type="password"], input[type="text"]{
    border-radius:0;
}



.adminWrapper #create-team .container .row .col-md-12 {

     padding-right:0;

    .add-team{
        color: #fff;
        background-color: #111;
        border-color: #111;
        margin-bottom:20px;
    }
}

.adminWrapper #create-team .container .row .wrapper_title{
    padding:10px;
    background:#111;

    div {
        text-align:center;
        span{
        color: #FFF;
    }
   }
}

.adminWrapper #create-team .container .row .wrapper_data{
    margin-top:20px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 15px;
    .col-md-2{
        line-height:145px;
        text-align:center;
        
        .wrapper_result{
            line-height: 25.99999px;
            margin-top: 60px;

            .btn{
                text-transform:uppercase;
                color: #fff;
                background-color: #111;
                border-color: #111;
                font-size:13px;
            }
        }

        span{
            text-transform:uppercase;
            font-size:13px;
            .btn{
                text-transform:uppercase;
                color: #fff;
                background-color: #111;
                border-color: #111;
                font-size:13px;
            }
        }

       
        .wrapper_result_action{
               line-height: 53px;
               margin-top: 46px;
               
               span a.edit-button{
                   padding: 7px 20px;
               }
        }
    }
}

.row #wrapper_container{
   
     margin-top:26px;
   
     .header-wrapper a.pull-right{
        margin-top:20px;
        color: #111;
        &:hover{
            color: #111;
            text-decoration:none;
        }
    }

    #wrapper-title{
        padding:10px;
        background-color: #111;
        

        .col-md-3 {
           
             text-align:center;

            span{
                color: #FFF;
            }
        }
    }

    #wrapper-data{
        
        margin-top:20px;
        .row{
            border-bottom:1px solid #dadada;
            padding-bottom:20px;
            margin-bottom:20px;
           
        .col-md-3 {
           
             text-align:center;
             line-height:25px;


             .team , .vs , .numerical , .descriptive,
             .stadium-name , .home-court, a{
                 display:block;
                 text-transform:uppercase;
             }

             .btn-primary{
                margin-bottom: 20px;
                background: #111;
                border-color: #111;
             }
           }      

        }
    }
}


//Update Schedules design
.clear{
    clear:both;
}
.row .adminWrapper #wrapper_container #wrapper-data .row {
    .col-md-3 .logo_wrapper{
        border:1px solid #dadada;
        width:100%;
        height:175px;
    
    }

    .col-md-6 .col-md-6 .form-group{
        height:30px;
    }

    .col-md-3.wrapper-goto-list{
        right:-15px;
    }

    .col-md-9.go-to-schedule .btn{
        color: #FFF;
        background: #111;
        border-color: #111;
        text-transform:uppercase;
    }

    .col-md-12.before-floor-plan-wrapper{

        margin-bottom:25px;

        h3.stadium-floor-plan-title{
            text-transform:uppercase;
            color: #111;
            border-bottom:1px solid #dadada;
            padding-bottom:10px;
        }
    }

    .col-md-12.wrapper-floor-plan{
        text-align:center;
    }
}
 




//Responsive Layout for Entire Administrator Area

/** Small Devices **/
@media only screen and (min-width:480px) and (max-width:767px){

    //Login Page

}


@media only screen and (max-width:767px){

    //Login Page

    footer .ts-sponsor .list-inline li{
        width:100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    // Create and View Team Template
    .ts-heading:before{
        content: '';
        border-color: initial;
        border-width: initial;
    }

    .container .row .adminWrapper #create-team .header-wrapper{
        .ts-heading{
            width:100%;
            border-bottom: initial;
            
        } 
        .ts-line{
            border-top: initial;
        }
    }
    

    .container .row .adminWrapper #create-team .container .row  {
       .wrapper_title{
           display:none;
       }
       .wrapper_data .col-md-2{
           line-height:35px;
           .wrapper_result{
               margin-top:5px;
               line-height:45px;
               
               span{
                   display:block;
               }
           } 
       }
     
    }

    //Create Team
    .holder-content .content .container .row .adminWrapper #create-team form .container
    .row {
            .col-md-offset-2{
                 display:none;
         }
    }
}

@media only screen and (min-width:768px) and (max-width:991px){

    //Login Page

    //Create and View Design Template

    .holder-content .content .container{
        margin-left: initial;
        margin-right: initial;
        padding-left: initial;
        padding-right: initial;
        

        .row .adminWrapper #create-team .container .row .wrapper_data .col-sm-2{
            &:first-child{
                left:-15px;
            }
            img{
                width:100%;
            }
            .wrapper_result a.btn, 
            .wrapper_data_view_schedule span a.btn,
            .wrapper_result_action span .btn{
                font-size:9px;
            }

        }
    }


    

   
} 


@media only screen and (min-width:992px) and (max-width:1199px){

    //Login Page
}

@media only screen and (min-width:1200px) and (max-width:1600px){

    //Login Page
}


@media only screen and (min-width:1601px){

    //Login Page
}