// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */

@import "../utils/variables";

a {
    color: $brand-color;
    text-decoration: none;

    @include on-event {
        text-decoration: none;
    }
}

.btn, a {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/**
 * Basic styles for input fields
 */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-focus-ring-color: none;
    outline: none;
}

.ts- {
    &heading {
        background: #111;
        color: #fff;
        padding: 7px 50px;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        text-transform: uppercase;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 40px 0 0 40px;
            border-color: transparent transparent transparent #111111;
            position: absolute;
            right: -39px;
            top: 0;
        }
    }
}

hr.ts-line {
    margin: 0 0 15px 0;
    border-top: 2px solid #111;
}

.ts-main {
    padding-right: 20px;
    border-right: 2px solid #c3c4c4;
    padding-bottom: 60px;
}

/****** LOGIN MODAL ******/

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 1.8em;
    }

    input {
        &[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }

        &[type=text] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            padding: 0 8px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: $brand-color;
    padding: 17px 0;
    font-size: 14px;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-transform:uppercase;
    &:hover {
        border: 0;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background-color: $dark-grey;
    }
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    -moz-transition: opacity ease 0.5s;
    -o-transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}
