<div class="container">
    <div class="row">
        <div class="adminWrapper">
           

            <div class="col-md-12" id="wrapper_container">
                <div class="header-wrapper">
                    <h3 class="ts-heading">2016 MLFB SCHEDULES</h3>
                    <a href="#" class="pull-right"><i class="fa fa-chevron-left"></i> GO TO TEAM LIST</a>
                    <div class="clear"></div>
                    <hr class="ts-line">
                </div>

                <div class="col-md-12" id="wrapper-title">
                    <div class="col-md-3">
                        <span>GAME</span>
                    </div>
                    <div class="col-md-3">
                        <span>DATE</span>
                    </div>
                    <div class="col-md-3">
                        <span>VENUE</span>
                    </div>
                    <div class="col-md-3">
                        <span>ACTION</span>
                    </div>
                </div>

                <div class="col-md-12" id="wrapper-data">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="team">GAME</span>
                            <label class="vs">vs</label>
                            <span class="team">GAME</span>
                        </div>
                        <div class="col-md-3">
                            <span class="numerical">04 30 2016</span>
                            <span class="descriptive">Sat 04:00 PM</span>
                        </div>
                        <div class="col-md-3">
                            <span class="stadium-name">war memorial stadium</span>
                            <span class="home-court">Arkansas</span>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">Delete</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <span class="team">GAME</span>
                            <label class="vs">vs</label>
                            <span class="team">GAME</span>
                        </div>
                        <div class="col-md-3">
                            <span class="numerical">04 30 2016</span>
                            <span class="descriptive">Sat 04:00 PM</span>
                        </div>
                        <div class="col-md-3">
                            <span class="stadium-name">war memorial stadium</span>
                            <span class="home-court">Arkansas</span>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

